*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 430px;
    max-height: 420px;
    width: 100%;
    height: 100%;
}

.information {
    padding: 1.5em  ;
    padding-bottom: 0;
}

#root {
    height: 100%;
    width: 100%;
}

header h1 {
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: .9px;
    text-transform: uppercase;
    color: #FFFFFF;
}

header #job {
    color: #F3BF99;
    font-size: 1.1rem;
    padding: 5px 0 6px 0;
}

header #email {
    color: #cecbcb;
    font-size: .95rem;
    padding-bottom: 20px;
    cursor: pointer;
}
#interests {
    margin-top: 1.5rem;
}
main {
    text-align: start;
    padding: 1.5em;
}

main h2 {
    font-size: 1.25rem;
    color: #F5F5F5;
    font-weight: 700;
    letter-spacing: .3px;
    margin-bottom: 7px;
}

main p {
    color: #DCDCDC;
    line-height: 150%;
    letter-spacing: .25px;
}

.alike-btn {
    width: 150px;
    height: 50px;
    min-width: 120px;
    min-height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: transform 0.1s ease, background 0.2s ease;
}
.alike-btn i{
    margin-right: 8px;
    font-size: 1.25em;
}
.alike-btn:active {
    transform: scale(0.95);
}

.btn {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#libtn {
    background-color: #3675bd;
    color: #FFFFFF;
}

#libtn:active {
    background-color: #5093E2;
}

#ebtn {
    background-color: #FFFFFF;
    color: #374151;
}

#ebtn:active {
    background-color: #e6e1e1;
}

footer {
    background-color: #161619;
    height: 4rem;
    padding: 0 2rem;
}

#social-icons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

#social-icons a:focus {
    outline: none; 
}
#social-icons {
    -webkit-tap-highlight-color: transparent; 
}

#social-icons a {
    text-decoration: none;
    display: inline-flex;       
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#social-icons a:focus {
    outline: none; 
}

.sicon {
    font-size: 1.75rem;
    color: #918E9B;
    transition: transform 0.15s ease, color 0.2s ease;
}

.sicon:active {
    transform: scale(0.9);  
    color: #c3c1c9;
}
